.chat-main
  .chat-main__group-info
    .group-infolist
      .group-infolist__item1 test
      .group-infolist__item2 Member:m
    = link_to "#" , class: "group-info-edit" do
      .span
      Edit
  .chat-main__message-list
    .message-day
      .message-day__name ma
      .message-day__day 2020/07/26(Sta) 14:00:00
    .text おはよう
    .message-day
      .message-day__name ma
      .message-day__day 2020/07/26(Sta) 15:00:00
    .text 今日は雨
  .chat-main__message-form