.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name m
      .top-items__icons
        = icon('fab', 'edit',  class: "top-items__btn--edit")
        %span<>
        = icon('fab', 'cog',  class: "top-items__btn--cog")
        %span<>
  .side-bar__group-list